*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::after, *::before{
    margin: 0;
    padding: 0;
}
:root{
    --mainColor: #49c5b0;
    --maiLightColor: #8de6d7;
    --secondaryColor:#4960d1;
    --acentColor:#3fa636;
    --text:whitesmoke;
    --darkText:rgb(32, 32, 32);
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    color: --var(--darkText);
}
.header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, var(--mainColor) 40%, var(--maiLightColor) 80%,  #8de6d7a9);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6.5rem;
}

svg{
    max-height: 4rem;
    max-width: 4rem;
    transform: scale(0.8);

}
.pathLogo{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:var(--secondaryColor);
    width: 100%; 
    height: auto;
    filter:drop-shadow(0.2rem 0.2rem 1px #050505)

}

.logo-description{
    font-size: 1.1rem;
    color: whitesmoke;
}
.nav{
}
.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}
.nav__item{
    margin: 0 1.5rem;

}
.socialMedia{
    display: flex;
    width: 6rem;
    align-items: center;
justify-content: space-around;
}
.socialMedia span{
    cursor: pointer;
}
/* galeria */

.galery{
    width: 400px;
    height: 300px;
    background-image: url('../images/carrousel/1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1.5s linear;
}
